:root {
    --background: #0D0D0D;
    --primary-color: #740DAD;
    --secondary-color: #FF007A;
    --highlight-color: #FFFF00;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*********************************************************** NAV - BAR ***********************************************************/
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: var(--primary-color);
  color: white;
  height: 70px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
}

/* Brand Name */
.brand h1 {
  color: var(--secondary-color);
  font-size: 1.5rem;
  margin-left: 10px;
}

/* Center Navigation */
.center-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navitem {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Increase the size of Home and Search icons */
.navitem ion-icon {
  font-size: 2rem;
  transition: font-size 0.3s ease;
}

.navsearch ion-icon {
  font-size: 2rem;
  transition: font-size 0.3s ease;
}

/* Menu width adjustment */
.navbar .menu-items {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 0px 12px;
  transition: transform 0.3s ease-in-out;
}

.navitem.active ion-icon {
  color: var(--secondary-color);
}

/* Search Bar */
.navsearch {
  position: relative;
  flex-grow: 1;
}

.searchbox {
  width: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  background: var(--background);
  color: var(--highlight-color);
}

.navsearch.active .searchbox {
  width: 500px;
  opacity: 1;
}

.searchicon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: var(--secondary-color);
  cursor: pointer;
}

/* Hamburger Menu */
.hamburger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  margin-right: 15px;
}

.hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
}

.hamburger-lines .line {
  height: 4px;
  width: 25px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar .menu-items li {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}


.hamburger.active .line:nth-child(1) {
  background-color: var(--highlight-color);
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  background-color: var(--highlight-color);
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Side Menu */
.side-menu {
  position: absolute;
  border-radius: 0 50px 50px 0;
  top: 70px;
  left: -250px;
  width: 150px;
  height: calc(90vh - 70px);
  background-color: rgba(116, 13, 173, 0.5);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.side-menu.active {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 20px;
}

.side-menu ul li {
  margin: 15px 0;
}

.side-menu ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.side-menu ul li a:hover {
  color: var(--highlight-color);
}

.side-menu ul li a:visited {
  color: var(--highlight-color);
}

/**********************************************************************************************************************/