:root {
  --background: #0d0d0d;
  --primary-color: #563a9c;
  --secondary-color: #8b5dff;
  --highlight-color: #fff7d1;
  --navbar-height: min(10vh, 60px);
  --searchbox-width: calc(30vw);
  --nav-item-size: calc(1.5rem + 1vw);
  --logo-size: calc(0.6 * var(--navbar-height));
  --sidebar-width: calc(35vw);
  --sidebar-height: calc(70vh);
  --transition-speed: 0.3s;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--highlight-color);
  transition: all var(--transition-speed) ease;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

/*********************************************************** NAV - BAR ***********************************************************/

/* Navbar Styling */
.navbar {
  background: var(--primary-color);
  color: var(--background);
  height: var(--navbar-height);
  width: 100%;
}

/*Brand*/
.brand {
  flex-wrap: wrap;
  flex-direction: row;
  color: var(--highlight-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

/* Logo */
.logo {
  width: calc(10vw);
  height: auto;
  max-width: var(--logo-size);
  max-height: var(--logo-size);
  padding: 0px;
  margin-left: 5px;
  display: flex;
  position: relative;
  align-items: center;
  display: block;
}

/* Brand Text */
.brand h1 {
  font-size: 1.5rem;
  margin: 0;
  white-space: nowrap;
  color: var(--highlight-color);
}

.navitem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 100%;
  gap: 1rem;
  position: relative;
}

/* Home Button Styling */
a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
  font-size: 1.5rem;
}


a:hover {
  color: var(--highlight-color);
}

/* Home Icon */
ion-icon[name="home"] {
  color: var(--highlight-color);
  font-size: 2rem;
}

/* Search Container */
.navsearch {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
}

/* Search Box */
.searchbox {
  width: 0;
  opacity: 0;
  transition: all var(--transition-speed) ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 3px solid var(--secondary-color);
  background: var(--background);
  color: var(--highlight-color);
}

.navsearch.active .searchbox {
  width: var(--searchbox-width);
  max-width: 600px;
  opacity: 1;
}

/* Search Icon */
.searchicon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--highlight-color);
  cursor: pointer;
  transition: color var(--transition-speed) ease, transform var(--transition-speed) ease;
}

.searchicon:hover {
  color: var(--highlight-color);
  transform: scale(1.1);
}

/* Hamburger Wrapper */
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(0.8*var(--navbar-height));
  height: calc(0.8*var(--navbar-height));
  cursor: pointer;
  transition: transform var(--transition-speed) ease-in-out;
  margin-right: 20px;
}

.hamburger:hover {
  transform: scale(1.1);
}

/* Hamburger Lines */
.hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  position: relative;
}

.hamburger-lines .line {
  height: 4px;
  width: 100%;
  background-color: var(--highlight-color);
  border-radius: 5px;
  transition: all var(--transition-speed) ease-in-out;
}

/* Active State Animations */
.hamburger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: var(--secondary-color);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: var(--secondary-color);
}

/* Accessibility: Focus State */
.hamburger:focus {
  outline: 2px solid var(--highlight-color);
  outline-offset: 2px;
}

/*********************************************************** SIDE - MENU ***********************************************************/

/* Side Menu */
.side-menu {
  display: flex;
  position: fixed;
  border-radius: 0 calc(0.2 * var(--sidebar-width))
    calc(0.2 * var(--sidebar-width)) 0;
  border: solid;
  border-color: var(--highlight-color);
  border-width: 1px;
  top: calc(var(--navbar-height) + 5vh);
  left: calc(-1 * var(--sidebar-width));
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  background-color: var(--primary-color);
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all var(--transition-speed) ease-in-out;
  z-index: 1;
}

.side-menu::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.side-menu.active {
  left: 0;
}

.profile {
  text-align: center;
  margin-bottom: 2rem;
}

.profile img {
  width: calc(0.5 * var(--sidebar-width));
  height: calc(0.5 * var(--sidebar-width));
  border-radius: calc(0.5 * var(--sidebar-width));
  margin-bottom: 10px;
}

.profile h2 {
  color: var(--highlight-color);
}

.footer {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--highlight-color);
}
.footer:hover {
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px var(--secondary-color), 0 0 20px var(--secondary-color),
    0 0 25px var(--secondary-color), 0 0 30px var(--secondary-color),
    0 0 35px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 45px var(--secondary-color), 0 0 50px var(--secondary-color);
}

/* Accordion Container */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: auto;
  background: transparent;
}

/* Accordion Items */
.accordion-item {
  border-radius: 5px;
  overflow: hidden;
  padding-top: 0.3%;
}

.accordion-item input {
  display: none;
}

/* Label Styling */
.accordion-item label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
  height: auto;
  width: auto;
  color: var(--highlight-color);
  background: var(--primary-color);
  transition: all var(--transition-speed);
  font-size: calc(0.7rem + 0.4vw);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-item label:hover {
  background: var(--secondary-color);
}

.accordion-item label .icon {
  font-size: 1.2em;
  transition: transform var(--transition-speed);
}

/* Toggle Behavior */
.accordion-item input:checked + label + ul {
  max-height: 100vh;
}

.accordion-item input:not(:checked) + label + ul {
  max-height: 0;
}

.accordion-item input:checked + label .icon {
  transform: rotate(45deg);
}

/* List Styling */
.accordion-item ul {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: auto;
  transition: max-height var(--transition-speed) ease;
  background: var(--primary-color);
  text-align: center;
}

.accordion-item ul li {
  padding: 2px;
  margin: 1px;
  text-align: center;
  color: var(--highlight-color);
  width: auto;
}

.accordion-item ul li a {
  width: auto;
  text-decoration: none;
  border-radius: 10px;
  transition: all var(--transition-speed) ease;
  font-size: calc(0.8rem + 0.4vw);
  background: var(--primary-color);
  color: var(--highlight-color);
  display: flex;
}

.accordion-item ul li :hover {
  background-color: var(--secondary-color);
}

/*********************************************************** THEMES ***********************************************************/

/* Theme Variables */
[data-theme="default"] {
  --background: #0d0d0d;
  --primary-color: #563a9c;
  --secondary-color: #8b5dff;
  --highlight-color: #fff7d1;
}

[data-theme="dark"] {
  --background: #121212;
  --primary-color: #282828;
  --secondary-color: #3d3d3d;
  --highlight-color: #ffffff;
}

[data-theme="light"] {
  --background: #ffffff;
  --primary-color: #f5f5f5;
  --secondary-color: #e0e0e0;
  --highlight-color: #000000;
}

[data-theme="greendarkgray"] {
  --background: #121212;
  --primary-color: #1DB954;
  --secondary-color: #B3B3B3;
  --highlight-color: #23FF75;
}

[data-theme="deeppurple"] {
  --background: #0D0D0D;
  --primary-color: #6A0DAD;
  --secondary-color: #FF007A;
  --highlight-color: #00FFFF;
}

[data-theme="royalblue"] {
  --background: #181818;
  --primary-color: #4169E1;
  --secondary-color: #F7E600;
  --highlight-color: #FFFFFF;
}

[data-theme="orangecharcoal"] {
  --background: #222222;
  --primary-color: #FF4500;
  --secondary-color: #F4F1DE;
  --highlight-color: #FFD700;
}
[data-theme="tealpeach"] {
  --background: #202020;
  --primary-color: #008080;
  --secondary-color: #FFDAB9;
  --highlight-color: #9FE2BF;
}

[data-theme="magentablack"] {
  --background: #0B0B0B;
  --primary-color: #FF00FF;
  --secondary-color: #FAFAFA;
  --highlight-color: #1E90FF;
}

[data-theme="darkolivecream"] {
  --background: #101010;
  --primary-color: #556B2F;
  --secondary-color: #F5F5DC;
  --highlight-color: #FFFF00;
}

.accordion-item ul li label {
  width: auto;
  text-decoration: none;
  border-radius: 10px;
  transition: all var(--transition-speed) ease;
  font-size: calc(0.8rem + 0.4vw);
  background: var(--primary-color);
  color: var(--highlight-color);
  display: flex;
}

.accordion-item ul li label:hover {
  background: var(--secondary-color);
}

/* Input Styling for Radio Buttons */
.accordion-item ul li input[type="radio"] {
  display: none;
}

/*********************************************************** PLAYER ***********************************************************/

.music-player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background: var(--primary-color);
  color: var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 10px;
}

.song-info {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 30vw;
}

.cover {
  width: calc(0.8 * var(--navbar-height));
  height: calc(0.8 * var(--navbar-height));
  border-radius: 50%;
  object-fit: cover;
}

.details {
  display: flex;
  margin: 0px 5px;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#song-name {
  font-size: 14px;
  font-weight: bold;
  color: var(--highlight-color);
}

#artist-name {
  font-size: 12px;
  color: var(--highlight-color);
}

.like-button {
  font-size: 1.2rem;
  color: var(--highlight-color);
  transition: all var(--transition-speed) ease;
}

.like-button.liked ion-icon {
  color: var(--secondary-color);
  transform: scale(1.2);
}

.music-player{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: calc(0.8 * var(--navbar-height));
}

.music-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(0.4 * var(--navbar-height));
  gap: 5px;
}

.control-btn {
  font-size: 1rem;
  color: var(--highlight-color);
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.control-btn:hover {
  color: var(--secondary-color);
  transform: scale(1.2);
}

.player-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(0.4 * var(--navbar-height));
}

.progress-time {
  font-size: 12px;
  width: 10vw;
  margin: 0;
  padding: 5px;
  height: calc(0.4 * var(--navbar-height));
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#progress {
  width: 40vw;
  height: calc(0.4 * var(--navbar-height));
  margin: 0;
  accent-color: var(--highlight-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*********************************************************** MAIN ***********************************************************/



/**********************************************************************************************************************/