{% extends 'index.html' %}
{% block content %}
<h1 style="text-align: center;align-items: center;margin-top: 10%;"> Welcome to Music Application</h1>
<div class="page">
    <div class="container" style="padding:20px;">
        <h2>Admin Login</h2>
        <form action="/admin" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="admin-username" name="admin-username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="admin-password" name="admin-password" required>
            </div>
            
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: red;text-align: center;">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <div class="form-group">
                <input type="submit" value="Login" id="button1" style="margin-bottom: 5px;">
                <p>Don't have admin access?<br>Go to <a href="{{url_for('user_login')}}" class="but2" style="color:var(--button-text-color);">User login</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

