<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Admin_Tracks</title>
</head>
<body>
    <header>
        <h1>Administrator</h1>
        <div class="button">
            <a id="button1" onclick="goBack()">DashBoard</a>
        </div>
    </header>

    <hr>

    <div class="admin_tracks">
        <div class="row1">
            <h2>All Tracks</h2>
            <div class="sbox" >
                <form action="/app/search" method="post" autocomplete="off">
                    <input type="text" title="search" name="search" placeholder="Search..." required>
                    <button type="submit"><img src="{{ url_for('static', filename='search.svg') }}" alt="search"></button>
                </form>
            </div>
        </div>

    {% for gen in genre %}
    <div class="carddesign row">
        <h3>{{ gen[0] }}</h3>
        {% for song in songs %}
            {% if song.genre == gen[0]%}
                <div class="item" style="padding: 0.5em 2em;">
                    <h4>{{song[0]}}</h4>
                    <form action="/app/{{song[0]}}" method="post"><button id="button1" >View Song</button></form>
                    <form action="{{ url_for('delete_track', sng=song[0]) }}" method="POST"><button type="submit" style="background: none;border:none;cursor: pointer;margin-right: 5px;"><img src="{{url_for('static', filename='delete.svg')}}" alt="del"></button></form>
                </div>     
            {% endif %}
        {% endfor %}
    </div>                    
    {% endfor %}        

    <hr style="margin-top: 5%;">
    
    <header>
        <h2 style="margin-left: 1em;">Welcome, {{ nm }}!</h2>
        <a id="button2" href="{{ url_for('logout') }}" style="color: var(--danger);border: 2px solid var(--danger);">Logout</a>
    </header>

    <script>
        function goBack() {
          window.history.back();
        }
    </script>    
</body>
</html>