<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    {% include 'header_main.html' %}
    <div class="appcontent">
        {% block appcontent %}
            <!-- Templating data for initial -->
        {% endblock %}
    </div>
</body>
</html>