<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resonix - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
    
    {% include 'header.html' %} 
    {% block content %} {% endblock %}

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const themeSwitcher = document.querySelectorAll(
          ".accordion-item ul li input"
        );

        // Load saved theme from localStorage
        const savedTheme = localStorage.getItem("theme") || "default";
        document.documentElement.setAttribute("data-theme", savedTheme);
        document.getElementById(`theme-${savedTheme}`).checked = true;

        // Add event listener to theme switcher inputs
        themeSwitcher.forEach((input) => {
          input.addEventListener("change", (e) => {
            const selectedTheme = e.target.id.replace("theme-", "");
            document.documentElement.setAttribute("data-theme", selectedTheme);
            localStorage.setItem("theme", selectedTheme);
          });
        });
      });
    </script>
  </body>
</html>
