<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Creator DashBoard</title>
</head>
<body>
    <header> 
        <h1>Creator Account</h1>
        <div class="header-links">
            <a href="{{ url_for('upload_songs', nm=name) }}">Upload Song</a>
            <p> | </p>
            <a href="{{ url_for('test', nm=name) }}">User Account</a>
            <p> | </p>
            <a id="button2" href="{{ url_for('logout') }}" style="color: var(--danger);border: 2px solid var(--danger);">Logout</a>
        </div>
    </header>
    
    <hr>
    <div class="creatordashboard">
        <div class=" carddesign card row">
            <h2>DashBoard</h2>
            <div class="col">
                <div class="card">
                    <h3>Total Songs Uploaded</h3>
                    <h3>{{ stats[2] }}</h3>
                </div>
                <div class="card">
                    <h3>Average Rating</h3>
                    <h3>{{ stats[0][0] }}</h3>
                </div>
                <div class="card">
                    <h3>Total Albums</h3>
                    <h3>{{ stats[3][0] }}</h3>
                </div>
            </div>
        </div>
    </div>    

    <div class="admin_tracks">
        <div class="carddesign row" style="margin: 1em;">
            <div class="upload" style="display: flex;align-items: center;justify-content: space-between;margin: 0 4em;">
                <h3>Your Uploads</h3>
                <a id="button1" href="{{ url_for('upload_songs', nm=name) }}">Upload Songs</a>
            </div>
            {% for song in stats[1] %}
                <div class="item">
                    <h4>{{ song[0] }}</h4>
                    <form action="{{ url_for('edit_song', sng=song[0]) }}" method="POST"><button type="submit" style="background: none;border:none;cursor: pointer;margin-right: 1.2em;"><img src="{{url_for('static', filename='edit.svg')}}" alt="del"></button></form>
                    <form action="{{ url_for('delete_song', nm=name, snm=song[0]) }}" method="POST"><button type="submit" style="background: none;border:none;cursor: pointer;margin-right: 5px;"><img src="{{url_for('static', filename='delete.svg')}}" alt="del"></button></form>
                </div>
            {% endfor %}    
        </div>
    </div>
        
</body>
</html>