{% extends 'app.html' %}
{% block appcontent %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div style="color: red;text-align: center;">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="admin_tracks" style="text-align: center;">
    <form action="/app/{{name}}/edit_{{plist_name}}" method="POST" autocomplete="off">
        <div class="row1">
            <h2>My Playlist</h2>  
            <div class="sbox" >
                <input type="text" title="playlistname" name="playlistname" placeholder="{{plist_name}}">
            </div>
        </div>
        
                
        <div class="row" style="background: none;border:none;">
            <div class="row1">
                <h4>Playlist Songs</h4>
            </div>
            
            {% for pval in plist_song %}
                <div class="item" style="padding: 0.5em;"">
                    <p style="padding: 0 1.5em;">{{ pval }}</p>
                </div>    
            {% endfor %}
        </div>

        <div class="row" style="background: none;border:none;">
            <div class="row1">
                <h4>All Songs</h4>
            </div>


            {% for sval in all_songs_list %}
                {% if sval[1] in plist_song %}
                    <div class="item" style="padding: 1.5em;">
                        <label for="{{ sval[0] }}">{{ sval[1] }}</label>
                        <input type="checkbox" checked name="checkbox" value="{{ sval[1] }}" id="{{ sval[0] }}">
                    </div>
                {% else %}
                    <div class="item" style="padding: 1.5em;">
                        <label for="{{ sval[0] }}">{{ sval[1] }}</label>
                        <input type="checkbox" name="checkbox" value="{{ sval[1] }}" id="{{ sval[0] }}">
                    </div>             
                {% endif %}                
            {% endfor %}
        </div>
        <button id="button1" type="submit" >Edit Playlist</button>
    </form>
</div>    

{% endblock %}