{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="cols">
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://www.shutterstock.com/shutterstock/videos/1019263687/thumb/1.jpg);">
            <div class="inner">
              <p>Music</p>
              <span>Playlist</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>ssss</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}