<header> 
    <h1><a href="{{ url_for('index') }}" style="text-decoration: none;">Home Page</a></h1>
    <div class="header-links">
        <div class="sbox" style="margin-right: 10px;">
            <form action="/app/search" method="post" autocomplete="off">
                <input type="text" title="search" name="search" placeholder="Search..." required>
                <button type="submit"><img src="{{ url_for('static', filename='search.svg') }}" alt="search"></button>
            </form>
        </div>
        <p> | </p>
        <a href="{{ url_for('creator_index', nm=name) }}">Creator Account</a>
        <p> | </p>
        <a href="{{ url_for('profile', nm=name) }}">Profile</a>
        <p> | </p>
        <a id="button2" href="{{ url_for('logout') }}" style="color: var(--danger);border: 2px solid var(--danger);">Logout</a>
    </div>
</header>

<hr>