<div class="library">
    <div style="filter: blur(5px); pointer-events: none;">
        <div class="library-icon">
            <span>Library</span>
            <a href="#">
                <ion-icon name="add"></ion-icon>
            </a>
        </div>
        <div class="librarySearch">
            <div class="searchicon" onclick="librarySearch()">
                <ion-icon name="search"></ion-icon>
            </div>
            <input class="searchbox" type="text" placeholder="Search...." />
        </div>
    </div>
    <div class="liblogin">
        <a class="button" href="/login">Login</a>
        <a class="button" href="/register">Register</a>
    </div>
</div>