{% extends 'app.html' %}
{% block appcontent %}


<div class="profile">
    <div class="picture">
        <img src="{{ url_for('static', filename='profile.png') }}" alt="profile">
    </div>
    <div class="details">
        <h2>{{ prof_dat[1] }}</h2>
        <p>Email: {{ prof_dat[2] }}</p>
        <p>Phone Number: {{ prof_dat[3] }}</p>
        {% if is_creator%}
            <p>Role: Creator User ✅</p>
        {% else %}
            <p>Role: Normal User</p>
        {% endif %}    
    </div>
</div>
<h4 style="display: flex;align-items: center;justify-content: center;">Thankyou for become the Part of our Music <img src="{{ url_for('static', filename='icon.png') }}" alt="icon" style="width:2em;height:2em;padding: 0 2px;"> family</h4>

{% endblock %}