{% extends 'side_menu.html' %}
{% block img %}
{{ url_for('static', filename='profiles/default_avatar.png' )}}
{% endblock %}
{% block name %}Guest{% endblock %}
{% block home_menu %}
  <!-- Home -->
  <div class="accordion-item">
    <input type="radio" name="accordion" id="home" />
    <label for="home">
      Home
      <span class="icon">+</span>
    </label>
    <ul>
      <li><a href="#">- Welcome</a></li>
      <li><a href="#">- Latest Updates</a></li>
    </ul>
  </div>
{% endblock %}

{% block login_action %}
  <!-- Sign Up -->
  <div class="accordion-item">
    <input type="radio" name="accordion" id="sign-up" />
    <label for="sign-up">
      Sign Up
      <span class="icon">+</span>
    </label>
    <ul>
      <li><a href="/login">- Log In</a></li>
      <li><a href="/register">- Sign Up</a></li>
    </ul>
  </div>
{% endblock %}