<!-- Side Menu -->
<div class="side-menu">
  <!-- Profile Section -->
  <div class="profile">
    <img src="{% block img %}{% endblock %}" alt="User" />
    <h2>Wellcome, {% block name %}{% endblock %}</h2>
  </div>
  <div class="accordion">
    {% block home_menu %} {% endblock %}

    <!-- Browse Content -->
    <div class="accordion-item">
      <input type="radio" name="accordion" id="browse-content" />
      <label for="browse-content">
        Browse
        <span class="icon">+</span>
      </label>
      <ul>
        <li><a href="#">- Songs</a></li>
        <li><a href="#">- Articles</a></li>
        <li><a href="#">- Playlists</a></li>
      </ul>
    </div>

    <!-- Change Theme -->
    <div class="accordion-item">
      <input type="radio" name="accordion" id="theme" />
      <label for="theme">
        Themes
        <span class="icon">+</span>
      </label>
      <ul>
        <li>
          <input type="radio" name="theme" id="theme-default" />
          <label for="theme-default">Default</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-dark" />
          <label for="theme-dark">Dark</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-light" />
          <label for="theme-light">Light</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-richblue" />
          <label for="theme-richblue">Rich Blue</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-vintage" />
          <label for="theme-vintage">Vintage</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-nature" />
          <label for="theme-nature">Nature</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-space" />
          <label for="theme-space">Space</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-olivedrab" />
          <label for="theme-olivedrab">Olive Drab</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-coffee" />
          <label for="theme-coffee">Coffee</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-greendarkgray" />
          <label for="theme-greendarkgray">Green-Dark-Gray</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-deeppurple" />
          <label for="theme-deeppurple">Deep Purple & Electric Pink</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-royalblue" />
          <label for="theme-royalblue">Royal Blue & Pastel Yellow</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-orangecharcoal" />
          <label for="theme-orangecharcoal">Burnt Orange & Charcoal</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-tealpeach" />
          <label for="theme-tealpeach">Teal & Peach</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-magentablack" />
          <label for="theme-magentablack">Magenta & Black</label>
        </li>
        <li>
          <input type="radio" name="theme" id="theme-darkolivecream" />
          <label for="theme-darkolivecream">Dark Olive & Cream</label>
        </li>
      </ul>
    </div>
    
    <!-- About Us -->
    <div class="accordion-item">
      <input type="radio" name="accordion" id="about-us" />
      <label for="about-us">
        About Us
        <span class="icon">+</span>
      </label>
      <ul>
        <li><button onclick="location.href='/?section=about'">- Learn More About Us</button></li>
        <li><button onclick="location.href='/?section=our-mission'">- Our Mission</button></li>
      </ul>
    </div>
    
    <!-- Help & Support -->
    <div class="accordion-item">
      <input type="radio" name="accordion" id="help-support" />
      <label for="help-support">
        Help & Support
        <span class="icon">+</span>
      </label>
      <ul>
        <li><button onclick="location.href='/?section=faq'">- FAQ</button></li>
        <li><button onclick="location.href='/?section=email'">- Email Us</button></li>
        <li><button onclick="location.href='/?section=support'">- Support</button></li>
      </ul>
    </div>

    {% block login_action%} {% endblock %}
    <!-- Footer -->
    <div class="footer">
      App Version 1.0.0 <br />
      Powered by Resonix
    </div>
  </div>
</div>
